{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "stage-2"
  ],
  "plugins": [
    ["captains-log", {"injectScope": false}],
    "react-hot-loader/babel"
  ]
}
